# Location: `/manifests/monitoring/grafana-service.yaml`

apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: kubeestatehub
  labels:
    app: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: kubeestatehub
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: grafana
